<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Shopify Application{% endblock %}</title>
  <link href="/static/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41214866-2', 'base102.net');
    ga('send', 'pageview');

  </script>
</head>

<body>
  <div id="header">
    <h1><a href="{% url "home.views.index" %}">Shopify Demo Application</a></h1>

    <p id="login-link">
      {% if current_shop %}
          <span class="note">current shop</span> <a href="https://{{ current_shop.domain }}" class="shop_name">{{ current_shop.domain }}</a> <span class="note">|</span>
          <a href="{% url "shopify_app.views.logout" %}">logout</a>
      {% endif %}
    </p>
  </div>

  <div id="container" class="clearfix">
    <ul id="tabs">
      <li><a href="{% url "home.views.index" %}">Home</a></li>
      <li><a href="{% url "home.views.design" %}">Design Help</a></li>
    </ul>

    <!-- Flash error & notice-->
    {% if messages %}
      {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }}-message"{% endif %}>{{ message }}</div>
      {% endfor %}
    {% endif %}

    <!-- begin div.main-->
    <div id="main">
      {% block content %}{% endblock %}
    </div>
    <!-- end div.main -->
  </div>
</body>
</html>
